body 
{
    background: black;
}
#Main_BGText
{
   color: ghostwhite;
   float: left;
   margin-left: 22.5%;
   margin-right: 22.5%;
   margin-top: 3%;
   font-size: 18px;
   word-spacing: 1px;
   line-height: 22px;
   opacity: .90;
   text-indent: 5%;
}
#UN_Quote
{
    text-indent: 0%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: .8%;
    padding-bottom: .8%;
    font-style: italic;
}
.Source_Cite
{
    text-indent: 15%;
    font-size: 15px;
    font-style: normal;
}
nav
{
    animation-name: FadeIn_2;
    animation-duration: 8s;
    float: right;
    margin-right: 2%;
    color: dimgray;
}
nav ul
{
    list-style-type: none;
}
nav li
{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
a:link
{
    text-decoration: none;
    color: dimgray;
}
a:visited
{
    text-decoration: none;
    color: dimgray;
}
a:hover
{
    text-decoration: none;
    color: white;
}
a:active
{
    text-decoration: none;
    color: dimgray;
}

footer
{
    float: left;
    width: 100%;
    margin-top: 5%;
}